{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> 
{% endblock %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '返品・交換について'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs help">
                    <dl>
                        <dt>
                            <label class="ec-label">モノタロウサイトでの返品申込方法について</label>
                        </dt>
                        <dd>［ご購入履歴］から返品をお申込みください 返品が可能な商品、数量に限り、ＷＥＢサイトからのお申込がご利用いただけます。 返品お申し込み手順 1.「ご購入履歴」画面で返品したい商品の個数を選択し、「返品する」ボタンをクリック 2.「返品同意画面 」にて 返品に関するご案内をご確認のうえ、ご同意いただけましたらチェックをつけて［送信］をクリック 3.「返品内容確認画面...</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">ご返品について</label>
                        </dt>
                        <dd>モノタロウ ブランド商品なら出荷後365日以内の返品OK！ 一年間返品保証マーク モノタロウ ブランド商品 モノタロウ ブランドマーク 返品受付期限 納品書記載の出荷日より 365日 以内 返品をお受けできないもの 納品書記載の出荷日より365日以上経過した商品。 入り数（内容量）が複数個の商品で、2個以上ご使用された商品。 入り数（内容量)が１個の商品で、50%以上商品をご使用された商品。...
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">FAXでの返品申込方法について</label>
                        </dt>
                        <dd>
1.返品連絡シートに必要事項を記入の上、FAXしてください 返品連絡 FAX:0120-289-888 返品連絡シート(pdfファイル) ・ 事前にFAXでのご連絡がない場合、返品はお受けいたしかねますのでご了承ください。 ・ 個人のお客様はFAXでは承っておりませんので、Webサイトよりご連絡をお願いいたします。 2.内容確認のうえ、弊社より返品方法について　ご連絡させて頂きます...
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品交換について</label>
                        </dt>
                        <dd>
弊社手配ミス、不良品など弊社理由による場合を除き、交換は承っておりません。 ご不要商品につきましては、返品手続き( ご返品について )をお願いいたします。 ※【返品不可】商品はご返品受付いたしかねます。 ご希望商品につきましては改めてお客様にてご注文ください。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返金について</label>
                        </dt>
                        <dd>【締支払(定期振込/口座振替）の方】 弊社にて商品受領後、完了月内請求書にて返品商品代金を相殺いたします。 弊社での返品処理完了までに締日を過ぎる場合、翌月の請求時に相殺いたします。 【注文時、もしくは代金引換にて支払の方】 1,000円未満のご返金は、郵便切手の郵送をもって返金とさせていただきます。 1,000円以上のご返金は、ご指定の口座に振り込みさせていただきます。...</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">不良品　破損　汚損などの対応について</label>
                        </dt>
                        <dd>商品到着時の破損・汚損などがございましたら下記よりご連絡をお願いいたします。 また、不良品（初期の不具合などで商品が動かない・組み合わせが合わない等）もございましたら同じくご連絡をお願いいたします。 画像のご用意ができる場合は、添付をお願いいたします。 ⇒ ご連絡はこちらから（お問合せの種類：商品・納品トラブル） 後程、担当部署より連絡をさせていただきます。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お届け商品が間違っていた場合について</label>
                        </dt>
                        <dd>お届けしました商品の不足や過剰、注文商品が異なる、破損していた等がございましたら、 お問合せフォーム よりお問合せの種類「商品・納品トラブル」を選択しご連絡ください。 画像のご用意ができる場合は、添付をお願いいたします。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}